---
layout: post-index
permalink: /tech/
title: Experiences from the Desk
image:
  feature: 2.jpg
  credit: Yogesh Pandey
comments: false
modified: 2015-03-24

---

<article>
    <h2 id="{{ this_word }}" class="tag-heading">Projects</h2>
    <div class="entry-meta">
        <p> Programming / DIY / SideProjects  </em></p></div>
    <hr>
    </hr>
    <ul>
        {% for post in site.categories.Tech %}
        <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}
            <div class="entry-meta">
                <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a
                        href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time></span>
            </div><!-- /.entry-meta -->
        </a></li>
        {% endfor %}
    </ul>
</article>


<article>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor
    %}{% endcapture %}
    {% assign tags_list = site_tags | split:',' | sort %}

    <ul class="entry-meta inline-list">
        {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
        <li><a href="tags/#{{ this_word }}" class="tag"><span class="term">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a>
        </li>
        {% endunless %}{% endfor %}
    </ul>
</article>